<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>[Template] Sample Inner Page</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Yummy
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-lg-0"
        >
          <h1>
            Smart Plate
            <span>.</span>
          </h1>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="pages-recipes.html">Recipes</a></li>
            <li><a href="pages-about.html">About</a></li>

            <li><a href="pages-contact.html">Contact</a></li>
          </ul>
        </nav>
        <!-- .navbar -->

        <a class="btn-login" href="pages-login.html">Login</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Recipes</h2>
            <!-- <ol>
              <li><a href="index.html">Home</a></li>
              <li>Sample Inner Page</li>
            </ol> -->
          </div>
        </div>
      </div>
      <!-- End Breadcrumbs -->
      <!-- ======= Menu Section ======= -->
      <section
        style="display: flex; justify-content: center; align-items: center"
      >
        <div class="row">
          <div class="col-lg-12">
            <div class="card" style="border: none">
              <div class="card-body">
                <!-- Table with stripped rows -->
                <div>
                  <table style="width: 70%; margin-bottom: 0">
                    <thead>
                      <tr>
                        <th
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                            width: 30%;
                          "
                        >
                          Title
                        </th>
                        <th
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                            width: 40%;
                          "
                        >
                          Instructions
                        </th>
                        <th
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                            width: 30%;
                          "
                        >
                          Ingredients
                        </th>
                      </tr>
                    </thead>
                    <!-- ejs inserts -->
                    <tbody>
                      <% data.forEach(item => { %>
                      <tr>
                        <td
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                          "
                        >
                          <%= item.Title %>
                        </td>
                        <td
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                          "
                        >
                          <%- item.Instructions.replace(/\n/g, `
                          <br />
                          `) %>
                        </td>
                        <td
                          style="
                            border: 1px solid #dddddd;
                            text-align: left;
                            padding: 8px;
                          "
                        >
                          <%- item.Ingredients.replace(/\n/g, `
                          <br />
                          `) %>
                        </td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <!-- Table with stripped rows -->
                <div class="table-responsive">
                  <table class="table datatable custom-table">
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Instructions</th>
                        <th>Ingredients</th>
                      </tr>
                    </thead>
                    <!-- ejs inserts -->
                    <tbody>
                      <% data.forEach(item => { %>
                      <tr>
                        <td><%= item.Title %></td>
                        <td>
                          <%- item.Instructions.replace(/\n/g, `
                          <br />
                          `) %>
                        </td>
                        <td><%= item.Ingredients %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- End Menu Section -->
      <!-- <section class="sample-page">
      <div class="container" data-aos="fade-up">

        <p>
          You can duplicate this sample page and create any number of inner pages you like!
        </p>

      </div>
    </section> -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>Address</h4>
              <p>
                Brigham Young University
                <br />
                Provo, UT 84606
                <br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Office Contacts</h4>
              <p>
                <strong>Phone:</strong>
                +1 801 244 4224
                <br />
                <strong>Email:</strong>
                info@SmartPlate.com
                <br />
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-clock icon"></i>
            <div>
              <h4>Office Hours</h4>
              <p>
                <strong>Mon-Sat:</strong>
                8AM - 5PM
                <br />
                Sunday: Closed
              </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us</h4>
            <div class="social-links d-flex">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright
          <strong><span>Smart Plate Co.</span></strong>
          All Rights Reserved
        </div>
        <!-- <div class="credits"> -->
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/yummy-bootstrap-restaurant-website-template/ -->
        <!-- Designed by
            <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
    >
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
